html, body {
    width: 100%;
    height: 100%;
    margin-top: 3%;
}

form {
    width: 600px;
    margin: auto;
}

.error {
    border: none;
    box-shadow: 0px 0px 5px 1px red !important;
}

.ok {
    border: none;
    box-shadow: 0px 0px 5px 1px green !important;
}

meter {    
    width: 100%;
    height: .7em;
    
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter::-webkit-meter-bar {
    background: none;
    background-color: rgba(0,0,0,0.1);
}

meter[value="1"]::-webkit-meter-optimum-value { background: #740000; }
meter[value="2"]::-webkit-meter-optimum-value { background: red; }
meter[value="3"]::-webkit-meter-optimum-value { background: orange; }
meter[value="4"]::-webkit-meter-optimum-value { background: yellow }
meter[value="5"]::-webkit-meter-optimum-value { background: green; }

meter[value="1"]::-moz-meter-bar { background: #740000;; }
meter[value="2"]::-moz-meter-bar { background: red; }
meter[value="3"]::-moz-meter-bar { background: orange; }
meter[value="4"]::-moz-meter-bar { background: yellow; }
meter[value="5"]::-moz-meter-bar { background: green; }